* {
    text-shadow: 1px 2px 1px rgb(106, 222, 238);
}
body {
    background-color: #6C567B;
    font-family: 'Nothing You Could Do', 'cursive';
    font-size: 1.0em;
    text-align: center;
    background-image: url('https://78.media.tumblr.com/6b731f31729570a24162720e7c9e3a96/tumblr_owtc2xFu2O1toqefko1_500.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right; 
}

h1 {
    color: #C06C84;
    
}
h2 {
    color: #C06C84;
}
p {
        color: #A8E6CF;
}
li {
    color: #A8E6CF;
    list-style-position: inside;
}